/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --title-text-color: #000028;
  --title-bg-color: #ff0070;
  --section-title-color: #ff0070;
  --card-title: #000028;
  --card-text-color: #f1b2ce;
  --border-color: #ff0070;
}
