/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: "IBM Plex mono", monospace;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  padding: 10px 10px;
  margin-block-end: 40px;
  position: relative;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.decorated-zone .header__theme-menu::before {
  content: "rec";
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  display: block;
}

.decorated-zone .header__theme-menu::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  display: block;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-block-end: 5px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  font-family: inherit;
  font-size: 18px;
  border: 1px solid transparent;
  width: 70px;
  height: 26px;
  color: var(--border-color);
  transition: all 0.5s;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid color-mix(in srgb, var(--border-color) 40%, transparent);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color);
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__logo {
  align-self: flex-start;
  margin-block-start: 2px;
}

.header__paragraph {
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  white-space: pre-line;
  align-self: center;
  margin-block-end: 2px;
}

.section {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-block-end: 50px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-decor {
  background-color: var(--title-bg-color);
  color: var(--title-text-color);
}

.cards__summ {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.card__title {
  color: var(--card-title);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.title__simplier {
  font-weight: 400;
}

.card__text {
  color: var(--card-text-color);
  font-size: 18px;
  line-height: 23.4px;
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
  transition: all 0.5s;
}

.text__link:hover {
  border-bottom: 0.1rem solid var(--card-text-color);
  cursor: pointer;
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--card-text-color);
}

.section-advices__card {
  gap: 20px;
}

.section-advices__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-advices__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  gap: 10px;
  margin-block-end: 40px;
}

.gallery__item {
  margin: 0;
  display: grid;
  gap: 10px;
}

.pic {
  inline-size: 100%;
  object-fit: cover;
}

.footer {
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.footer__logo {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 20px 20px;
    margin-block-end: 60px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone .header__theme-menu::before {
    top: 20px;
    right: 48px;
  }

  .decorated-zone .header__theme-menu::after {
    top: 28px;
    right: 29px;
  }

  .logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__logo {
    margin-left: -20px;
  }

  .header__paragraph {
    max-width: 364px;
    width: 100%;
    justify-self: end;
  }

  .section {
    padding: 0 20px;
    margin-block-end: 80px;
  }

  .section-why,
  .section-advices {
    grid-template-columns: minmax(min-content, 1fr) 2fr;
  }

  .section-why__title,
  .section-advices__title {
    grid-row: 1 / 2;
  }

  .section-why__card,
  .section-advices__card {
    grid-column: 2;
  }

  .section-causes__title {
    max-width: 236px;
    width: 100%;
  }

  .gallery {
    gap: 20px;
    margin-block-end: 60px;
  }

  .gallery__item {
    gap: 20px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .pic {
    height: 100%;
    width: 100%;
  }

  .gallery__item .pic:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__item .pic:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__item .pic:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__item .pic:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item .pic:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .footer {
    padding: 0 20px;
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: auto;
    grid-template-rows: 1fr min-content 1fr;
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    margin-block-start: -1px;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
    justify-content: center;
  }

  .header__logo {
    align-self: flex-end;
    justify-self: start;
  }

  .header__paragraph {
    max-width: 491px;
    width: 100%;
    justify-self: end;
    align-self: flex-end;
    margin-block-end: 115px;
  }

  .section-why {
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 2fr);
  }

  .section-causes {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-auto-flow: dense;
  }

  .section-causes__title {
    max-width: 315px;
    grid-column: 1 / -1;
    width: 100%;
  }

  .section-advices {
    grid-template-columns: minmax(315px, 1fr) minmax(649px, 2fr);
  }

  .footer {
    min-height: 768px;
  }
}
